{% extends 'core/layout.html' %}
{% load static %}
{% block content %}

<div class="container-products">

    <h1 class="donuts-par" href="#">DONUTS</h1>

    <div class="row">

        <div class="col-product" data-id="0">
            <center>
                <div class="image-wrapper">
<!--                        <img class="image-shadow" src="{% static 'core/img/berry.png' %}">-->
                    <img class="image-real" src="{% static 'core/img/berry.png' %}" alt="berry">
                </div>
            </center>

            <div class="description-wrapper">
                <p class="product-name">BERRY DONUT</p>
                <p class="product-description">Bright pink donut with mixed berry filling.
                    The taste of ripe berries will awaken a feeling of joy and carefreeness.</p>
            </div>
            <div class="price">
                <div class="counter-wrapper">
                    <div class="items__control" data-action="minus">-</div>
                    <div data-counter class="items__current">1</div>
                    <div class="items__control" data-action="plus">+</div>
                </div>
                <p class="price_value">100$</p>
            </div>
            <center>
                <button data-cart class="add-to-cart">ADD TO MY CART</button>
            </center>
        </div>

        <div class="col-product" data-id="1">
            <center>
                <div class="image-wrapper">
<!--                        <img class="image-shadow" src="{% static 'core/img/choco.jpg' %}">-->
                    <img class="image-real" src="{% static 'core/img/choco.png' %}" alt="choco">
                </div>
            </center>


            <div class="description-wrapper">
                <p class="product-name">CHOCO DONUT</p>
                <p class="product-description">Topped with a chocolate glaze, these
                    donuts are perfect for breakfast or a sweet afternoon snack.</p>
            </div>
            <div class="price">
                <div class="counter-wrapper">
                    <div class="items__control" data-action="minus">-</div>
                    <div data-counter class="items__current" >1</div>
                    <div class="items__control" data-action="plus">+</div>
                </div>
                <p class="price_value">100$</p>
            </div>
            <center>
                <button data-cart class="add-to-cart">ADD TO MY CART</button>
            </center>
        </div>

    </div>

</div>

{% endblock %}