{% extends 'core/layout.html' %}
{% load static %}
{% block content %}
    <div class="list-container mt-5">
        <center>
            <h1>Make an order :)</h1>
            <form class="form-floating mt-3">
                <input type="text" class="form-control" id="name" placeholder="Name">
                <label for="name">Your name</label>
            </form>
            <div class="form-floating mt-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
                <label for="email">Your e-mail</label>
            </div>

            <div class="row mt-3">

                <div class="col-md-4">
                    <div class="form-group">
                        <img src="{% static 'core/img/espresso.jpg' %}" alt="espresso"><br>
                        <label for="rangeEspresso">Espresso</label><br>
                        <input type="number" min="0" max="10" step="1" list="rangeEspresso" id="rangeEspresso">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <img src="{% static 'core/img/latte.jpg' %}" alt="latte"><br>
                        <label for="rangeLatte">Latte</label><br>
                        <input type="number" min="0" max="10" id="rangeLatte">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <img src="{% static 'core/img/cappuccino.jpg' %}" alt="cuppuccino"><br>
                        <label for="rangeCappuccino">Cappuccino</label><br>
                        <input type="number" min="0" max="10" id="rangeCappuccino">
                    </div>
                </div>

            </div>

            <div class="row mt-3">

                <div class="col-md-4">
                    <div class="form-group">
                        <img src="{% static 'core/img/choco.jpg' %}" alt="choco"><br>
                        <label for="rangeChoco">Chocolate</label><br>
                        <input type="number" min="0" max="10" id="rangeChoco">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <img src="{% static 'core/img/berry.jpg' %}" alt="berry"><br>
                        <label for="rangeBerry">Berry</label><br>
                        <input type="number" min="0" max="10" id="rangeBerry">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <img src="{% static 'core/img/mint.jpg' %}" alt="mint"><br>
                        <label for="rangeMint">Mint</label><br>
                        <input type="number" min="0" max="10" id="rangeMint">
                    </div>
                </div>

            </div>
            <br>

            <button type="submit" class="btn btn-outline-info">Make an order</button>
        </center>
    </div>

{% endblock %}