{% extends 'core/layout.html' %}
{% load static %}
{% block content %}

<div class="container-products">

    <CENTER>
        <h1 class="title_product_type" href="#">MENU</h1>
    </CENTER>


    <div class="row">
        {% for product in products %}
            <div class="col-product" data-id="{{ product.id }}">
                <center>
                    <div class="image-wrapper">
    <!--                        <img class="image-shadow" src="{% static 'core/img/berry.png' %}">-->
                        <img class="image-real" src="{{product.img.url}}" alt="{{product.product_name}}">
                    </div>
                </center>

                <div class="description-wrapper">
                    <p class="product-name">{{product.product_name}}</p>
                    <p class="product-description">{{product.description}}</p>
                </div>
                <div class="price">
                    <div class="counter-wrapper">
                        <div class="items__control" data-action="minus">-</div>
                        <div data-counter class="items__current">1</div>
                        <div class="items__control" data-action="plus">+</div>
                    </div>
                    <p class="price_value">
                        <span>{{product.final_cost}}</span>
                        <span>$</span>
                    </p>
                </div>
                <center>
                    <button data-cart class="add-to-cart">ADD TO MY CART</button>
                </center>
            </div>
        {% endfor %}
    </div>



</div>

{% endblock %}